<%- include("../views/index") %>
<div class="page404_wrapper">
	<div class="page404_header">
		<div class="header_wrapper">
			<img
				class="page_logo"
				src="../assets/logo.png"
				alt=""
			/>
			<p class="page_name">
				Brief history of famous rock bands | Project 3 | Web Application
				Development
			</p>
		</div>
	</div>
	<div class="page404_container">
		<img
			src="/assets/404-Page-Featured-Image.png"
			alt=""
		/>
		<a href="/">Back to the main page</a>
	</div>
</div>
