<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="author"
			content="Group 610"
		/>
		<meta
			name="decription"
			content="Project Web App"
		/>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title><%- title %></title>
		<link
			rel="icon"
			type="image/ico"
			href="assets/icon.ico"
		/>
		<link
			type="text/css"
			rel="stylesheet"
			href="css/main.css"
		/>
		<link
			type="text/css"
			rel="stylesheet"
			href="css/login.css"
		/>
		<link
			type="text/css"
			rel="stylesheet"
			href="css/404.css"
		/>
		<link
			rel="preconnect"
			href="https://fonts.googleapis.com"
		/>
		<link
			rel="preconnect"
			href="https://fonts.gstatic.com"
			crossorigin
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body></body>
</html>
