<%- include("index") -%>
<main class="page_wrapper">
	<div class="page_title">
		<img
			class="page_logo"
			src="../assets/logo.png"
			alt=""
		/>
		<p class="page_name">
			Brief history of famous rock bands | Project 3 | Web Application
			Development
		</p>
	</div>
	<div class="container">
		<div class="form_wrapper">
			<p class="form_title">Login Page</p>
			<% if (message && message.text.length > 0) { %>
			<div class="error_wrapper">
				<p><%- message.text -%></p>
			</div>
			<% } %>
			<div class="form_content">
				<form
					method="post"
					id="login_form"
					action="/login"
					class="form_holder"
					autocomplete="off"
				>
					<div class="form_input_wrapper">
						<label for="form_email">Email:</label>
						<input
							required
							type="text"
							name="email"
							id="form_email"
							placeholder="Enter your email address or username..."
						/>
					</div>
					<div class="form_input_wrapper">
						<label for="form_password">Password:</label>
						<input
							required
							type="password"
							name="password"
							id="form_password"
							placeholder="Enter your password.."
						/>
					</div>
					<div class="form_input_wrapper">
						<a
							class="form_forgot"
							href="/resetpass"
							>Forgot your password?</a
						>
					<div
						class="form_input_wrapper"
						style="margin-top: 1rem;"
					>
						<input
							type="submit"
							value="Login"
							id="form_submit"
						/>
					</div>
					<div class="form_input_wrapper" style="margin-top: 0.4rem;">
						<a class="form_register" href="/register">Click here to create a new account!</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</main>
<script src="js/main.js"></script>
