<%- include("index") %>
<p>Main Page</p>
<div>
	<% if (user.profile && user.profile.length >= 1) { %>
	<div class="profile_wrapper">
		<img
			src="js/upload/<%- user.profile %>"
			alt="No Image"
		/>
	</div>
	<% } else { %>
	<div class="profile_wrapper">
		<img
			src="/assets/defavatar.png"
			alt="No Image"
		/>
	</div>
	<% } %>
	<p>Username: <%- user.name %></p>
	<p>Email: <%- user.email %></p>
	<a href="/myaccount">My Account</a>
	<% if(user.role === "Admin") { %>
	<a href="/dashboard">Admin Panel</a>
	<% } %>
	<form
		action="/signout"
		method="post"
		id="signout_form"
	>
		<button type="submit">SIGN OUThhh</button>
	</form>
	<h1><font color="black"><i>Ce Este Muizca Rock?</i></font></h1>
		<h4><font color="black"><i>W</i></font></h4>
		<hr>
		
	
	    
		
		<p>
           Muzica <font color="blue">rock</font> este un gen larg de muzică populară care a apărut ca „<font color="blue">rock and roll</font>” în Statele Unite la sfârșitul anilor 1940 și începutul anilor 1950, devenind o gamă de stiluri diferite la mijlocul anilor 1960 și mai târziu, în special în Statele Unite și Marea Britanie. își are rădăcinile în anii 1940 și 1950 <font color="blue">rock and roll</font>, un stil care s-a extras direct din genurile de blues și ritm și blues ale muzicii afro-americane și din muzica country. Muzica <font color="blue">rock</font> a provenit, de asemenea, din multe alte genuri, cum ar fi bluesul electric și folkul, și a încorporat influențe din jazz, clasic și din alte stiluri muzicale. Pentru instrumentare, <font color="blue">rock-ul</font> sa concentrat pe chitara electrică, de obicei ca parte a unui grup rock cu bas electric, tobe și unul sau mai mulți cântăreți. De obicei, <font color="blue">rock-ul</font> este muzică bazată pe cântece cu 4
4 semnătura temporală folosind o formă vers-cor, dar genul a devenit extrem de divers. La fel ca muzica pop, versurile subliniază adesea dragostea romantică, dar abordează și o mare varietate de alte teme care sunt frecvent sociale sau politice. Trupele <font color="blue">rock</font> pe care am sa le prezint sunt:<br>
        </p><ul>
		   <li><font color="red">Queen</font></li>
		   <li><font color="orange">AC/DC</font></li>
		   <li><font color="yellow">Red Hot Chili Peppers</font></li>
		   <li><font color="green">The Beatles</font></li>
		   <li><font color="blue">U2</font></li>
		   
		</ul>

		<p></p>
		<h1><font color="black"><i><a href="https://www.youtube.com/watch?v=fJ9rUzIMcZQ" target="_blank">Queen</a></i></font></h1>
		<hr>
		<p>
		Queen este o formație de <font colo="blue">rock</font> britanică formată la Londra în 1970. Formația lor clasică a fost Freddie Mercury (voce principală, pian), Brian May (chitară, voce), Roger Taylor (tobe, voce) și John Deacon (bas). Primele lor lucrări au fost influențatde <font color="blue">rock progresiv</font>, <font color="blue">hard rock</font> și <a href="https://en.wikipedia.org/wiki/Heavy_metal_music" target="_blank"><font color="red">heavy metal</font></a>, dar trupa s-a aventurat treptat în lucrări mai convenționale și mai prietenoase cu radio, încorporând stiluri suplimentare, precum <font color="blue">arena rock</font> și <font color="blue">pop rock</font>.Estimările vânzărilor de discuri ale Queen-ului variază de la 170 la 300 de milioane de discuri, făcându-le unul dintre cei mai bine vânduti artiști de muzică din lume. În 1990, Queen a primit premiul Brit pentru contribuția remarcabilă la muzica britanică de la industria fonografică britanică. Au fost incluși în <font color="blue">Rock and Roll</font> Hall of Fame în 2001. Fiecare membru a compus single-uri de succes, iar toți cei patru au fost incluși în Songwriters Hall of Fame în 2003. În 2005, Queen a primit premiul Ivor Novello pentru colecția de cântece remarcabile de la Academia britanică de compozitori și autori. În 2018, li s-a acordat Grammy Lifetime Achievement Award.
		</p>
		<br>
		<img src="/assets/freddie mercury.png" border="2"><br>
		(Freddie Mercury, cantand)<br><br>
		<h3><font color="black"><i>Formarea trupei</i></font></h3>
		Membrii fondatori ai trupei Queen s-au întâlnit în vestul Londrei la sfârșitul anilor 1960. Chitaristul Brian May și-a construit propria chitară împreună cu tatăl său în 1963 și a format grupul 1984 în anul următor cu cântărețul Tim Staffell.  May a părăsit grupul la începutul anului 1968 pentru a se concentra asupra licenței sale în fizică și astronomie în infraroșu la Imperial College și pentru a găsi un grup care să poată scrie materiale originale.  A format grupul Smile împreună cu Staffell (acum cântă la bas) și cu tastaturistul Chris Smith.  Pentru a finaliza programul, May a plasat o reclamă pe un avizier al colegiului pentru un toboșar de tip „Mitch Mitchell / Ginger Baker”; Roger Taylor, un tânăr student la stomatologie, a făcut o audiție și a primit slujba.  Smith a părăsit grupul la începutul anului 1969, imediat înainte de un concert la Royal Albert Hall cu Free și Bonzo Dog Doo-Dah Band. 

În timp ce frecventa Ealing Art College din vestul Londrei, Staffell s-a împrietenit cu colegul său student Freddie Bulsara, care era din Zanzibar și de origine indiană parsi. Bulsara studiase designul de modă timp de un an înainte de a trece la arta grafică și design și a devenit în scurt timp un mare fan al Smile-ului. El a întrebat dacă se poate alătura grupului ca solist, dar May a simțit că Staffell nu va renunța la acest rol.  De asemenea, a condus o tarabă în Kensington Market împreună cu Taylor. 

În 1970, Staffell a renunțat la Smile, simțind că interesele sale pentru Soul și R&amp;B s-au confruntat cu sunetul hard rock al grupului și s-a săturat de lipsa de succes. A format grupul Humpy Bong alături de fostul baterist Bee Gees, Colin Petersen.  Ceilalți membri l-au acceptat pe Bulsara ca solist și l-au recrutat pe prietenul lui Taylor, Mike Grose, ca basist. Cei patru au avut primul concert la un eveniment de strângere de fonduri la Truro la 27 iunie 1970.  Bulsara a sugerat că grupul ar trebui redenumit în „Queen”. Ceilalți au fost nesiguri la început, dar el a spus „este minunat, dragă, oamenii o vor iubi”.  În același timp, a decis să-și schimbe numele de familie în „Mercury”, inspirat de linia „Mama Mercury, uite ce mi-au făcut” în piesa „my fairy king”. Grupul a avut primul concert sub numele nou la Londra, 18 iulie. Primul set consta din materiale care vor apărea ulterior pe primele două albume, alături de diverse coveruri de rock and roll, precum Cliff Richard și „Please Don't Tease” de la Shadows. Aceștia au atras atenția producătorului John Anthony, care era interesat de sunetul grupului, dar credea că au greșit basistul.  Grose a decis să nu continue cu trupa și a fost înlocuit de Barry Mitchell.  La rândul său, Mitchell a plecat în ianuarie 1971 și a fost înlocuit de Doug Bogie pentru două concerte. 
        <br><br><br>
		Dupa moartea solistului vocal, Freddie Mercury (cauza mortii find pneumonie bronsica ce a rezultat din boala SIDA), Brian May a lansat un album solo, mai incolo Roger Taylor s-a reunit cu el, pt a continua “in noul Queen”, insa John Deacon nu a mai vrut sa aiba de a face cu muzica.

		
		<p>
		</p><h1><font color="black"><i><a href="https://www.youtube.com/watch?v=v2AC41dglnM" target="_blank">AC/DC</a></i></font></h1>
		<hr>
		<p></p>
		<p>
		AC / DC este o formație <font color="blue">rock</font> australiană formată în Sydney în 1973 de frații scoțieni Malcolm și Angus
Young. Muzica lor a fost descrisă în mod diferit ca <font color="blue">hard rock</font>, <font color="blue">blues rock</font> și <font color="red">heavy metal</font>, dar formația
însăși o numește pur și simplu „<font color="blue">rock and roll</font>”.

		</p>
		<p>
		AC / DC a suferit mai multe schimbări de linie înainte de a lansa primul lor album, High Voltage din 1975.
Membrii s-au stabilizat ulterior în jurul fraților Young, cântărețului Bon Scott, bateristului Phil Rudd și
basistului Mark Evans. Evans a fost demis din trupă în 1977 și înlocuit de Cliff Williams, care a apărut pe
fiecare album AC / DC. În februarie 1980, Scott a murit din cauza alcoolului după o noapte de băut
intens. Grupul a luat în considerare desființarea, dar a ales să rămână împreună, aducându-l pe Brian
Johnson ca vocal înlocuitor de la Geordie ca înlocuitor al lui Scott. Mai târziu în acel an, trupa a lansat
primul său album cu Johnson, Back in Black, care a fost dedicat lui Scott. Albumul a lansat AC / DC pe
noi culmi de succes și a devenit unul dintre cele mai bine vândute albume din toate timpurile.
		</p>
		<p>
		Al optulea album de studio al trupei, For those About to Rock We Salute You (1981), a fost primul lor
album care a ajuns pe primul loc în Statele Unite. Înainte de lansarea filmului Flick of the Switch din
1983, bateristul Rudd a părăsit trupa și a fost înlocuit de Simon Wright, fiind la rândul său înlocuit de
Chris Slade în 1989. Trupa a cunoscut o reapariție comercială la începutul anilor nouăzeci, odată cu
lansarea The Razors Edge. Rudd s-a întors in trupă în 1994, înlocuindu-l pe Slade și apărând pe
următoarele cinci albume ale trupei. Cel de-al cincisprezecelea album de studio Black Ice a fost al doilea
cel mai bine vândut album din 2008 și cel mai mare succes înregistrat de la For those About to Rock,
ajungând în cele din urmă pe locul 1 la nivel mondial.
		</p><br>
		<img src="../assets/acdc2.jpg"><br>
		<p>
		AC / DC au vândut peste 200 de milioane de discuri în întreaga lume, inclusiv 75 de milioane de albume
în Statele Unite, făcând-o a nouălea cea mai buna trupa din Statele Unite. Back in Black a vândut
aproximativ 50 de milioane de unități în întreaga lume, devenind al treilea album cu cele mai mari
vânzări și cel mai bine vândut album de orice trupă. Albumul a vândut 22 de milioane de unități în SUA,
unde este al șaselea cel mai bine vândut album din toate timpurile. AC / DC s-a clasat pe locul al
patrulea pe lista VH1 a celor “100 de cei mai mari artiști de <font color="blue">hard rock</font>” și a fost numită a șaptea “Cea mai
mare trupă de <font color="red">heavy metal</font> din toate timpurile” de către MTV. În 2004, AC / DC s-a clasat pe locul 72 pe
lista Rolling Stone din „100 de cei mai mari artiști din toate timpurile”. Producătorul Rick Rubin, care a
scris un eseu despre trupă pentru lista Rolling Stone, s-a referit la AC / DC drept „cea mai mare trupă de
<font color="blue">rock and roll</font> din toate timpurile”. În 2010, VH1 a clasat AC / DC pe locul 23 în lista sa cu „100 de cei mai
mari artiști din toate timpurile”.
		</p>
		<p>
		</p>
		<h1><font color="black"><i><a href="https://www.youtube.com/watch?v=YlUKcNNmywk" target="_blank">Red Hot Chili Peppers</a></i></font></h1>
		<hr>
		<p></p>
		<p>
		Red Hot Chili Peppers (de obicei abreviat ca RHCP) este o formație americană de <font color="blue">rock</font> formată în Los
Angeles în 1983. Stilul muzical al grupului include <font color="blue">rock alternativ</font>, <font color="green"><a href="https://en.wikipedia.org/wiki/Funk" target="_blank">funk</a></font>, <font color="blue">punk rock</font> și <font color="blue">rock psihedelic</font>. În
performanțele live muzica lor incorporează elemente de jam band datorită naturii improvizate a multor
interpretări ale lor. În prezent trupa constă din membrii fondatori Anthony Kiedis (voce) și Flea (bas),
bateristul de durată Chad Smith; și chitaristul John Frusciante. Red Hot Chili Peppers sunt una dintre
trupele cu cele mai mari vânzări din toate timpurile cu peste 80 de milioane de înregistrări vândute în
toată lumea, au fost nominalizați la șaisprezece Premii Grammy, din care au câștigat șase si sunt cea mai
de succes trupă din istoria radioului de <font color="blue">rock alternativ</font> în prezent deținând recordurile pentru cele mai
multe single-uri pe prima poziție (13), cele mai multe săptămâni în total pe prima poziție (85) și cele mai
multe cântece în top zece (25) în clasamentul Billboard Alternative Songs. În 2012, au fost introdusi în <font color="blue">Rock
and Roll</font> Hall of Fame.
		</p>
		<p>
		Componența originală a trupei, numită inițial Tony Flow and the Miraculously Majestic Masters of
Mayhem înainte de a schimba pentru Red Hot Chili Peppers după câteva show-uri, cuprindea chitaristul
Hillel Slovak și bateristul Jack Irons, alături de Kiedis și Flea. Din cauza unor angajamente cu alte trupe,
Slovak și Irons nu au luat parte la albumul de debut al trupei, The Red Hot Chili Peppers (1984). Cliff
Martinez a fost bateristul pe primele două înregistrări (Irons a fost pe a treia), și chitaristul Jack Sherman
a performat pe prima. Slovak a evoluat pe al doilea și al treilea album al trupei, Freaky Styley (1985) și
The Uplift Mofo Party Plan (1987), dar a murit după o supradoză de heroină în 1988. Drept rezultat al
morții prietenului său, Irons a ales să părăsească grupul. Chitaristul de la Parliament-Funkadelic,
DeWayne McKnight, a fost adus în locul lui Slovak, deși pentru puțin timp, acesta fiind înlocuit la rândul
său de Frusciante în 1988. Fostul baterist de la Dead Kennedys, D. H. Peligro, a fost adus în locul lui
Irons. Și acesta a fost ținut puțin, fiind înlocuit de Chad Smith în același an. Formula cu Flea, Kiedis,
Frusciante și Smith a fost cea mai de durată și a înregistrat cinci albume de studio începând cu Mother’s
Milk (1989). În 1990, grupul a semnat cu Warner Bros. Records și a înregistrat albumul Blood Sugar Sex
Magik (1991), avându-l producător pe Rick Rubin. Acest album a devenit primul mare succes comercial al
trupei. Frusciante a devenit incomfortabil cu succesul trupei și a părăsit-o pe neașteptate în 1992, în
mijlocul Blood Sugar Sex Magik Tour.
		</p>
		<p>
		După doi chitariști temporari, Arik Marshall și Jesse Tobias, Dave Navarro de la Jane’s Addiction s-a
alăturat în 1994 și pentru următorul album al grupului, One Hot Minute (1995). Deși a avut succes din
punct de vedere comercial, albumul nu a reușit să egaleze succesul critic sau popular al aclamatului
Blood Sugar Sex Magik, vânzând mai puțin de jumătate din vânzările predecesorului său. Navarro a fost
dat afară din trupă în 1998. Frusciante, proaspăt ieșit de la reabilitare în urma problemelor cu consumul
de droguri, a revenit în trupă în același an la cererea lui Flea. Fiind reuniți, cei patru s-au întors în studio
pentru a înregistra Californication (1999), care a devenit cel mai mare succes comercial al trupei cu 16
milioane de copii vândute în toată lumea. Acest album a fost urmat trei ani mai târziu de By the Way
(2002) și apoi patru ani mai târziu de albumul dublu Stadium Arcadium (2006), primul lor album pe
prima poziție în America. După un tur mondial, grupul a luat o pauză prelungită. Frusciante a anunțat în
2009 că părăsește amical formația pentru a se concentra pe cariera sa solo, fiind înlocuit de Josh
Klinghoffer, care a lucrat atât ca sideman pentru trupă în Stadium Arcadium tour, cât și pe proiectele
solo ale lui Frusciante. Klinghoffer a apărut pe două albume Red Hot Chili Peppers, I’m with You (2011) și
The Getaway (2016), înainte de a părăsi trupa în 2019 pentru ca Frusciante să revină din nou.
		</p>
		<p>
		<img src="../assets/RHCP.jpg" border="2">
		</p>
		<p>
		</p><h1><font color="black"><i><a href="https://www.youtube.com/watch?v=NCtzkaL2t_Y" target="_blank">The Beatles</a></i></font></h1>
		<hr>
		<p></p>
		<p>
		The Beatles a fost unul dintre grupurile a cărui muzică a fost cea mai influentă pentru Era <font color="blue">Rock</font> care a
urmat. Grupul a fost alcătuit din John Lennon (vocal, chitară ritmică), Paul McCartney (vocal, chitară
bas), George Harrison (chitară solo) și Ringo Starr (baterie).
		</p>
		<p>
		Inițial The Four Fabs au avut ca țintă generațiile de tineri rezultate de după al Doilea Război Mondial, în
special în țările de limbă engleză, precum Regatul Unit, SUA, Canada și Australia, dar au devenit după
anul lor cel mai glorios, 1964, iubiți și admirați de multiple generații. Judecând după multiple criterii,
dintre care vânzările muzicale ocupă un loc însemnat, “The Beatles” este unul din cele mai faimoase și
de succes grupuri în istoria muzicii <font color="blue">rock</font>, contorizând peste 1,1 miliarde de discuri vândute în lumea
întreagă.
		</p>
		<p>
		În timp ce inițial au devenit faimoși pentru ceea ce unii au etichetat drept muzică pop, lucrările lor de
mai târziu au realizat o combinație de laude atât din partea criticilor cât și din partea ascultătorilor
inegalată în secolul XX. În cele din urmă, ei și-au dovedit nu doar talentul de muzicieni, au pășit granița
spre cinematografie, și în particular, în cazul lui John Lennon este vorba de activism politic.
		</p>
		<p>
		În 2004 revista Rolling Stone clasa trupa The Beatles pe locul 1 pe lista celor 100 cei mai mari artiști ai
tuturor timpurilor. În conformitate cu aceeași revistă, muzica inovativă a trupei The Beatles și impactul
cultural au ajutat la definirea anilor 1960.
		</p>
		<p>
		<img src="../assets/thebeatles.jpg" border="2"><br>
		(The Beatles pe coperta albumului "Abbey Road", 1969)
		</p>
		<p>
		</p>
		<h1><font color="black"><i><a href="https://www.youtube.com/watch?v=ftjEcrrf7r0" target="_blank">U2</a></i></font></h1>
		<hr>
		<p></p>
		<p>
		U2 este o formație irlandeză de <font color="blue">rock</font> din Dublin. Înființată în 1976, ea este formată din Bono (vocalist și
chitarist), The Edge (chitarist, claviaturist, și vocalist), Adam Clayton (basist) și Larry Mullen, Jr.
(percuționist). Muzica pe care a cântat-o în perioada de început își trage originile din post-punk, dar a
ajuns în cele din urmă să încorporeze influențe din mai multe genuri de muzică pop. De-a lungul
întreprinderilor muzicale, cei patru și-au menținut un sunet construit pe muzică instrumentală melodică,
scoasă în evidență de sunetul de mare varietate timbrală al chitarei lui The Edge și pe vocea expresivă a
lui Bono. Versurile lor, adesea împodobite cu imagistică spirituală, se concentrează pe o tematică
personală și socio-politică.
		</p>
		<p>
		U2 s-a format la Mount Temple Comprehensive School⁠ în 1976, pe când membrii ei erau adolescenți cu
pricepere muzicală limitată. În patru ani, ei semnaseră un contract cu Island Records și își lansaseră
albumul de debut Boy. Până la jumătatea anilor 1980, U2 a devenit o formație de top, de anvergură
internațională. Până la albumul din 1987 The Joshua Tree, ei au avut mai mult succes în turnee decât cu
vânzarea de albume de studio. Conform revistei Rolling Stone, acest album a ridicat formația de la
statutul de „eroi” la cel de „supervedete”. Reacționând la stagnarea muzicală și la criticile adresate
imaginii lor și direcției lor muzicale considerate convenționale la sfârșitul anilor 1980, U2 s-au reinventat
cu albumul Achtung Baby din 1991, și cu turneul Zoo TV⁠; ei au integrat influențe dance⁠, industriale și
de rock alternativ, și au îmbrățișat o imagine autoironică. Experimente similare au continuat tot restul
anilor 1990 cu grade diferite de succes. U2 a redobândit succesul critic și comercial în anii 2000 cu discurile All That You Can’t Leave Behind (2000) și How to Dismantle an Atomic Bomb (2004), care au
stabilit formației un sunet mai convențional și mai mainstream. Turneul lor U2 360°⁠ din 2009–2011 a
avut cel mai numeros public și cele mai mari încasări din istorie.
		</p>
		<p>
		U2 a lansat 12 albume de studio și se numără printre cei mai bine vânduți artiști din toate timpurile,
vânzând peste 150 de milioane de discuri în toată lumea. Au câștigat 22 de premii Grammy, mai mult
decât orice altă formație și, în 2005, au fost introduși în Rock and Roll Hall of Fame în primul an în care
au fost eligibili. Rolling Stone a clasat formația U2 pe locul 22 în lista „celor mai mari 100 de artiști din
toate timpurile” și a etichetat-o drept „cea mai mare formație din lume”. De-a lungul carierei, ca grup,
dar și individual, au dus campanii pentru susținerea drepturilor omului și în scopuri filantropice, între
care campanii cu Amnesty International, campania ONE/DATA⁠, Product Red⁠ și acțiunea Music Rising⁠
a lui The Edge.
		</p>
		<p>
		<img src="../assets/u2.jpg" border="2"><br>
		</p>
		<hr>
		<p>
		<b>Surse de inspiratie:</b>
		</p><ul>
		   <li><a href="https://en.wikipedia.org/wiki/Queen_(band)" target="_blank">https://en.wikipedia.org/wiki/Queen_(band)</a></li>
		   <li><a href="https://en.wikipedia.org/wiki/AC/DC" target="_blank">https://en.wikipedia.org/wiki/AC/DC</a></li>
		   <li><a href="https://en.wikipedia.org/wiki/Red_Hot_Chili_Peppers" target="_blank">https://en.wikipedia.org/wiki/Red_Hot_Chili_Peppers</a></li>
		   <li><a href="https://en.wikipedia.org/wiki/The_Beatles">https://en.wikipedia.org/wiki/The_Beatles</a></li>
		   <li><a href="https://en.wikipedia.org/wiki/U2" target="_blank">https://en.wikipedia.org/wiki/U2</a></li>
		<p></p>
		<hr>
		<p>
		<font color="blue"><b>!MULTUMESC PENTRU VIZIONARE!</b></font>
		</p><hr>
		<p></p>
	




</ul></body></html>
</div>
