<%- include("index") %>
<main class="page_wrapper">
	<div class="page_title">
		<img
			class="page_logo"
			src="../assets/logo.png"
			alt=""
		/>
		<p class="page_name">
			Brief history of famous rock bands | Project 3 | Web Application
			Development
		</p>
	</div>
	<div class="container">
		<div class="form_wrapper">
			<p class="form_title">Reset password</p>
			<% if (message && message.text.length > 0) { %>
			<div class="error_wrapper">
				<p><%- message.text -%></p>
			</div>
			<% } %>
			<div class="form_content">
				<form
					method="post"
					id="resetpass_form"
					action="/resetpass"
					class="form_holder"
					autocomplete="off"
				>
					<%if(!reset) { %>
					<div class="form_input_wrapper">
						<label for="form_user">Email:</label>
						<input
							required
							type="text"
							name="email"
							id="form_email"
							placeholder="Enter your email address..."
						/>
					</div>
					<div class="form_input_wrapper">
						<label for="form_secretcode">Secret Code:</label>
						<input
							required
							type="text"
							name="secret_code"
							id="form_secretcode"
							maxlength="6"
							minlength="6"
							placeholder="Enter your 6 characters secret code..."
						/>
					</div>
					<div class="form_input_wrapper">
						<input
							type="submit"
							value="Verify secret code"
							id="form_submit"
						/>
					</div>
					<% } else { %>
					<div class="form_input_wrapper">
						<label for="form_user">Email:</label>
						<input
							required
							type="text"
							name="email"
							id="form_email"
							value="<%- email  -%>"
						/>
					</div>
					<div class="form_input_wrapper">
						<label for="form_password">Password:</label>
						<input
							required
							type="password"
							name="pass"
							id="form_password"
							placeholder="Enter your password..."
						/>
					</div>
					<div class="form_input_wrapper">
						<label for="form_repassword">Re-enter your password:</label>
						<input
							required
							type="password"
							name="repass"
							id="form_repassword"
							placeholder="Re-enter your password..."
						/>
					</div>
					<div class="form_input_wrapper">
						<input
							type="submit"
							value="Change password"
							id="form_submit"
						/>
					</div>
					<% } %>
					<div class="form_input_wrapper">
						<a
							class="form_register"
							href="/login"
							>Back to the login page</a
						>
					</div>
				</form>
			</div>
		</div>
	</div>
</main>
